@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

$angle-bottom: polygon(0 0, 100% 0, 100% 90%, 0 100%);
$angle-top-and-bottom: polygon(0 0, 100% 5%, 100% 95%, 0 100%);

:host {
  display: block;
  min-height: 100vh;
}

a,
a:hover {
  color: #F17100;
  text-decoration: none;
}



.section-wrapper {
  background-size: cover;

  > .container {
    display: flex;
    justify-content: center;
    min-height: 500px;
    flex-direction: column;

    .section-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.hero {
    background-image: url('../../../assets/images/hallway.png');
    color: #fff;
    clip-path: $angle-bottom;

    .title {
      font-size: 2.5rem;

      @include media-breakpoint-up(md) {
        font-size: 3.25rem;
      }
    }

    .subtitle {
      font-size: 1.25rem;
    }
  }

  &.subhero {
    .container {
      min-height: 300px;
    }

    .title {
      margin-bottom: 2rem;
    }

    .content {
      font-weight: 400;
      line-height: 1.6rem;

      a {
        color: #fff;
        font-weight: 600;
        text-decoration: underline;
      }
    }


    background: url('../../../assets/images/akroma-bg-shape.svg'), linear-gradient(225deg, #FFA600 0%, #E25D00 100%);
    background-position: 10% 50%;
    background-repeat: no-repeat;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    color: #fff;
    margin-top: -50px;
    text-align: center;
  }

  &.pools {
    .title {
      margin-bottom: 2rem;
    }

    .content {
      font-weight: 400;
      line-height: 1.6rem;

      a {
        color: #fff;
        font-weight: 600;
        text-decoration: underline;
      }
    } 
  }

  &.oracles {
    color: #fff;
    background-color: #520A47;
    clip-path: $angle-top-and-bottom;
    display: block;
    position: relative;

    // transparent background hack
    // see https://css-tricks.com/snippets/css/transparent-background-images/
    &::after {
      content: '';
      clip-path: $angle-top-and-bottom;
      background: url('../../../assets/images/expressway.jpg');
      background-size: cover;
      opacity: 0.5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
  }

  &.network-details {
    background-image: linear-gradient(225deg, #FFA600 0%, #E25D00 100%);
    color: #fff;
    clip-path: $angle-top-and-bottom;

    .table-sm {
      font-size: 0.875rem;

      td {
        padding: 0.75rem 0;
        border-top: 0;
      }
    }

    .text {
      font-size: 0.875rem;
    }

    .font-white {
      color: #fff;
    }
  }


  
  &.blog {
    background-image: linear-gradient(225deg, #930077 0%, #aa0087 100%);
    color: #fff;
    clip-path: $angle-top-and-bottom;

    .table-sm {
      font-size: 0.875rem;

      td {
        padding: 0.75rem 0;
        border-top: 0;
      }
    }

    .text {
      font-size: 0.875rem;
    }

    .font-white {
      color: #fff;
    }
  }

  &.team, &.governance, &.masternodes {
    h1 {
      color: #4a4a4a;
    }
  }

  &.masternodes {
    .masternodes-img {
      height: 200px;
      @include media-breakpoint-up(sm) {
        height: 279px;
      }
    }
  }

  &.team {
    margin-bottom: 2rem;

    .card {
      height: 100%;
    }

    .card-title {
      font-size: 1rem;
    }

    @include media-breakpoint-down(md) {
      .card-title {
        font-size: 0.8rem;
      }
      .card-text {
        font-size: 0.8rem;
      }
    }

    @include media-breakpoint-down(sm) {
      .card-title {
        font-size: 1rem;
      }
      .card-text {
        font-size: 1.0rem;
      }
    }
  }
}
