<section class="section-wrapper hero">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="subtitle">Smart Contracts. Masternodes. Oracles.</div>
        <div class="title">Cryptocurrency.
          <span class="font-weight-bold">Smarter.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper subhero">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-6">
        <h1 class="title text-center">Introducing Akroma</h1>
        <p class="content">
          Akroma is a cryptocurrency and application development platform focused on creating a governance model that will reward long-term,
          sustainable development and design.
        </p>
        <p class="content">
          Download the <a href="http://bit.ly/2EMQ4E4">Akroma Whitepaper</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper masternodes">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm section-image">
        <img class="masternodes-img" src="../../../assets/images/masternodes.svg" alt="Masternodes">
      </div>
      <div class="col-sm">
        <h1>Masternodes</h1>
        <p>
          Masternodes help protect and scale the Akroma network by validating transactions and acting as a decentralization incentive. Running a masternode is rewarded with Akroma.
        </p>

        <p>
          The masternode layer will provide the foundation of additional features on the Akroma network.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper oracles">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm">
        <h1>Decentralized Oracles</h1>
        <p>
          Oracles are systems that provide smart contracts with data from outside the network.
        </p>
        <p>
          Oracles are one example of the type of features that become possible with a layer of dedicated servers.
        </p>
      </div>
      <div class="col-sm section-image">
        <img src="../../../assets/images/oracles.svg" height="223" alt="oracles">
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper governance">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm section-image">
        <img src="../../../assets/images/governance.svg" width="378" height="377" alt="governance">
      </div>
      <div class="col-sm">
        <h1>Sustainable Governance</h1>
        <p>
          The Akroma governance model is focused on creating a sustainable application development platform while contributing back
          to the greater community.
        </p>
        <p>Key Features:</p>
        <ul>
          <li>Interoperability</li>
          <li>No major protocol changes</li>
          <li>Continuous integration of upstream changes</li>
          <li>Focus on UX (user experience)</li>
          <li>Consumer over Enterprise</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper network-details">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-7">
        <div class="row">
          <div class="col">
            <h1>Network Details</h1>

            <div class="row mt-5">
              <div class="col-sm">
                <div class="font-weight-bold">Protocol</div>

                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <td>Algorithm</td>
                      <td class="text-right">Ethash</td>
                    </tr>
                    <tr>
                      <td>Total Supply</td>
                      <td class="text-right">
                          ~ <a class="text-white" style="text-decoration:underline" href="https://medium.com/akroma/akroma-faq-and-ama-674fe45d7dfc">100 million</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Target Block Time</td>
                      <td class="text-right">10 seconds</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-sm">
                <div class="font-weight-bold">Block Rewards</div>
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <td>Total</td>
                      <td class="text-right text-nowrap">7 + 2 + 1</td>
                    </tr>
                    <tr>
                      <td>Miners</td>
                      <td class="text-right">7</td>
                    </tr>
                    <tr>
                      <td>Masternodes</td>
                      <td class="text-right">2</td>
                    </tr>
                    <tr>
                      <td>Akroma Foundation</td>
                      <td class="text-right">1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="font-weight-bold">Masternodes</div>

            <div class="mt-3 text">Details to be released on or before February 16 on
              <span class="font-weight-bold">Medium</span>
            </div>

            <div class="mt-3">
              <a href="https://medium.com/akroma" class="text font-white underline">Akroma.io on Medium</a>
              <i class="fab fa-medium-m"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 py-5 section-image">
        <img src="../../../assets/images/network-details.svg" width="272" alt="network-details">
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper team">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-6 text-center">
        <h1>Team</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/team/eric.png" alt="Eric Polerecky">
          <div class="card-body">
            <h5 class="card-title text-nowrap">Eric Polerecky</h5>
            <p class="card-text">
              Technologist
            </p>
            <p class="card-text">
              <i class="fab fa-discord"></i> detroitpro
            </p>
            <p class="card-text">
              <i class="fab fa-twitter"></i> <a href="http://twitter.com/detroitpro">detroitpro</a>
            </p>
            <p class="card-text">
              <i class="fab fa-github"></i> <a href="http://github.com/detroitpro">detroitpro</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/team/meg.jpg" alt="Megan Mayle">
          <div class="card-body">
            <h5 class="card-title text-nowrap">Megan Mayle</h5>
            <p class="card-text">
              Community Manager
            </p>
            <p class="card-text">
              <i class="fab fa-discord"></i> missmeg703
            </p>
            <p class="card-text">
              <i class="fab fa-twitter"></i> <a href="https://twitter.com/missmeg703">missmeg703</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/team/stephen.png" alt="Stephen Cavaliere">
          <div class="card-body">
            <h5 class="card-title text-nowrap">Stephen Cavaliere</h5>
            <p class="card-text">
              Developer
            </p>
            <p class="card-text">
              <i class="fab fa-discord"></i> delasteve
            </p>
            <p class="card-text">
              <i class="fab fa-twitter"></i> <a href="https://twitter.com/stevecavaliere">stevecavaliere</a>
            </p>
            <p class="card-text">
              <i class="fab fa-github"></i> <a href="http://github.com/delasteve">delasteve</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-2 py-5">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/team/gun.jpg" alt="Gunveer Natt">
          <div class="card-body">
            <h5 class="card-title text-nowrap">Gunveer Natt</h5>
            <p class="card-text">
              Mobile Developer
            </p>
            <p class="card-text">
              <i class="fab fa-discord"></i> gunatt
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/team/skoller.png" alt="Stephen Koller">
          <div class="card-body">
            <h5 class="card-title text-nowrap">Stephen Koller</h5>
            <p class="card-text">
              Designer + Developer
            </p>
            <p class="card-text">
              <i class="fab fa-discord"></i> skoller
            </p>
            <p class="card-text">
              <i class="fab fa-twitter"></i> <a href="https://twitter.com/StephenKoller">StephenKoller</a>
            </p>
            <p class="card-text">
              <i class="fab fa-github"></i> <a href="https://github.com/StephenKoller">StephenKoller</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/team/ian.jpg" alt="Ian DesJardins">
          <div class="card-body">
            <h5 class="card-title text-nowrap">Ian DesJardins</h5>
            <p class="card-text">
              Developer
            </p>
            <p class="card-text">
              <i class="fab fa-discord"></i> codenbrew
            </p>
            <p class="card-text">
              <i class="fab fa-twitter"></i> <a href="https://twitter.com/codenbrew">codenbrew</a>
            </p>
            <p class="card-text">
              <i class="fab fa-github"></i> <a href="https://github.com/iandesj">iandesj</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/team/andrew.jpg" alt="Andrew Hainen">
          <div class="card-body">
            <h5 class="card-title text-nowrap">Andrew Hainen</h5>
            <p class="card-text">
              Designer
            </p>
            <p class="card-text">
              <i class="fab fa-discord"></i> WaffleHouse
            </p>
            <p class="card-text">
              <i class="fab fa-twitter"></i> <a href="https://twitter.com/ahainen">ahainen</a>
            </p>
            <p class="card-text">
              <i class="fab fa-dribbble"></i> <a href="https://dribbble.com/ahainen">ahainen</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
