<% include header %>


<% include section1 %>


<section id="section2">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-md-12 text-center">
              <h1>Section</h1>
          </div>
      </div>
  </div>
</section>

<section id="section3">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-md-12 text-center">
              <h1>Section</h1>
          </div>
      </div>
  </div>
</section>


<section id="section4">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-md-12 text-center">
              <h1>Section</h1>
          </div>
      </div>
  </div>
</section>


<section id="section5">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-md-12 text-center">
              <h1>Section</h1>
          </div>
      </div>
  </div>
</section>

<% include footer %>