<section id="section_resources">
    <div class="container">
        <div class="row mb-5">
            <div class="col text-center">
                <h1>Resources</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Wallets
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="https://wallet.akroma.io">Offical Wallet - Web
                                <i class="fa fa-folder pull-right"></i>
                            </a>
                        </li>
                        <li class="list-group-item">Offical Wallet - Windows
                            <i class="fa fa-windows pull-right"></i>
                        </li>
                        <li class="list-group-item">Offical Wallet - Mac
                            <i class="fa fa-apple pull-right"></i>
                        </li>
                        <li class="list-group-item">Offical Wallet - Linux
                            <i class="fa fa-linux pull-right"></i>
                        </li>

                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Mining
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="https://github.com/akroma-project/akroma/wiki/Mining---Solo">
                                Solo Mining
                                <i class="fa fa-wrench   pull-right"></i>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://aka.miningpeon.net">aka.miningpeon.net
                                <i class="fa fa-signal  pull-right"></i>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://akroma.minerpool.net">akroma.minerpool.net
                                <i class="fa fa-signal  pull-right"></i>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://stats.akroma.io">Network Stats
                                <i class="fa fa-signal  pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Block Explorers
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="https://explorer.akroma.io">
                                Offical Block Explorer
                                <i class="fa fa-binoculars pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Guides
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="https://github.com/akroma-project/akroma/wiki/Mining---Solo">
                                Solo Mining
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://github.com/akroma-project/akroma-wallet-web/wiki/How-to-Create-a-Wallet">
                                How to create a wallet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
