<section id="section_community" class="section-dark">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-8 col-md-12 text-center">
                <h1>Community</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://twitter.com/akroma_io">
                            <img width="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="https://discord.gg/KWC8wtT">
                            <img width="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/discord.svg" />
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/">
                            <img width="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/medium.svg" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/akroma-project">
                            <img width="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>