<section id="section_network">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-8 col-md-12 text-center">
                <h1>Network</h1>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    Protocol Details
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Algorithm
                        <i class="pull-right">Ethash</i>
                    </li>
                    <li class="list-group-item">Total Supply
                        <i class="pull-right">100 million</i>
                    </li>
                    <li class="list-group-item">Target Block Time
                        <i class="pull-right">10 seconds</i>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    Block Details
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Reward Total
                        <i class="pull-right">9+1</i>
                    </li>
                    <li class="list-group-item">Reward Miners
                        <i class="pull-right">9</i>
                    </li>
                    <li class="list-group-item">Reward Akroma/MasterNodes
                        <i class="pull-right">1</i>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                    Masternode Details
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TBD
                    </li>
                    <li class="list-group-item">Details on or before Feb 16th</li>
                    <li class="list-group-item">
                        <a href="https://medium.com/akroma/">
                            Check Medium
                            <img width="32" width="32" class="pull-right" src="https://unpkg.com/simple-icons@latest/icons/medium.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>