<section id="section_team">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-8 col-md-12 text-center">
                <h1>Team</h1>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="img/eric.png" alt="Eric Polerecky">
                    <div class="card-body">
                        <h5 class="card-title">Eric Polerecky</h5>
                        <p class="card-text">Technologist</p>
                    </div>
                    <div class="card-footer">
                        <a href="http://twitter.com/detroitpro"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="http://github.com/detroitpro"><i class="fa fa-2x fa-github"></i></a>
                        <a href="http://eric.polerecky.com/"><i class="fa fa-2x fa-globe"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/ian.jpg" alt="Ian DesJardins">
                    <div class="card-body">
                        <h5 class="card-title">Ian DesJardins</h5>
                        <p class="card-text">Developer</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://twitter.com/codenbrew"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="https://github.com/iandesj"><i class="fa fa-2x fa-github"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/gun.jpg" alt="Gunveer Natt">
                    <div class="card-body">
                        <h5 class="card-title">Gunveer Natt</h5>
                        <p class="card-text">Mobile Developer</p>
                    </div>
                    <div class="card-footer">
                        <a href=""><i class="fa fa-2x fa-twitter"></i></a>
                        <a href=""><i class="fa fa-2x fa-github"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/meg.jpg" alt="Megan Mayle">
                    <div class="card-body">
                        <h5 class="card-title">Megan Mayle</h5>
                        <p class="card-text">Community Manager</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://twitter.com/missmeg703"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="https://meganmayle.com/"><i class="fa fa-2x fa-globe"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/skoller.png" alt="Stephen Koller">
                    <div class="card-body">
                        <h5 class="card-title">Stephen Koller</h5>
                        <p class="card-text">Designer + Developer</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://twitter.com/StephenKoller"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="https://github.com/StephenKoller"><i class="fa fa-2x fa-github"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/stephen.png" alt="Stephen Cavaliere">
                    <div class="card-body">
                        <h5 class="card-title">Stephen Cavaliere</h5>
                        <p class="card-text">Developer</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://twitter.com/stevecavaliere"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="http://github.com/delasteve"><i class="fa fa-2x fa-github"></i></a>
                        <a href="http://stephencavaliere.io"><i class="fa fa-2x fa-globe"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>