<section id="section_landing" class="padding-bottom-0">
  <div class="col-sm-8 col-md-12 text-center vcenter">
    <h2>Sustainable Smart Contracts</h2>
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <a href="http://stats.trinityfx.org/">Network Stats</a>
          <a href="http://explorer.trinityfx.org/home">Explorer</a>
          <a href="https://github.com/trinityfx">Github</a>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>  
  <br>
</section>