<section id="section_community" class="section-dark">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-8 col-md-12 text-center">
                <h1>Community</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://twitter.com/trinityfxorg">
                            <i class="fa fa-3x fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/trinityfx">
                            <i class="fa fa-3x fa-medium"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/trinityfx">
                            <i class="fa fa-3x fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>