
<section id="section_network" class="section-dark">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-md-12 text-center">
              <h1>Network</h1>
          </div>
      </div>
  </div>
</section>