@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.row-wrapper {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

a,
a:hover {
  color: #333333;
  text-decoration: none;
}

.row-grid {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 60px 1fr 1fr 2fr;
  grid-row-gap: 1px;

  @include media-breakpoint-up(md) {
    grid-row-gap: unset;
    grid-template-columns: 80px auto;
    grid-template-rows: 50px 30px;
  }
}

.row-inner-grid-top {
  margin-left: 1px;
  display: inline-grid;
  grid-template-columns: auto 175px 220px;
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
}

.row-inner-grid-bottom {
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1px;

  @include media-breakpoint-up(md) {
    grid-row-gap: unset;
    grid-column-gap: 1px;
    padding-top: 1px;
    padding-left: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
  }
}

.row-icon-link {
  @include media-breakpoint-up(md) {
    grid-row-start: 1;
    grid-row-end: span 2;
  }
}

.row-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #9B9B9B;
  height: 100%;
  width: 100%;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: #B8B8B8;
  }
}

.hash {
  background-color: #f4f4f4;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: background-color 0.15s ease-in-out;

  @include media-breakpoint-only(xs) {
    justify-content: center;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2rem;
  }

  &:hover {
    background-color: rgba(0,0,0,0.10);
  }

  > span {
    @include media-breakpoint-only(xs) {
      width: 210px;
    }

    @include media-breakpoint-only(sm) {
      width: 430px;
    }

    @include media-breakpoint-up(md) {
      max-width: 190px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 430px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 610px;
      font-size: 2rem;
    }
  }
}

.value-link {
  @include media-breakpoint-down(sm) {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

.timestamp,
.value {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: .9375rem;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #4a4a4a;
  height: 100%;
  width: 100%;
  transition: background-color 0.15s ease-in-out;

  @include media-breakpoint-down(sm) {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

.value:hover {
  background-color: #303030;
}

.amount {
  font-weight: 700;
  margin-right: 4px;
}

.from,
.to {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #5b5b5b;
  font-weight: 300;
  font-size: .9375rem;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: #303030;
  }

  .text-truncate {
    @include media-breakpoint-down(xs) {
      max-width: 260px;
    }

    @include media-breakpoint-only(md) {
      max-width: 280px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.row-inner-grid-bottom-wrapper {
  position: relative;

  @include media-breakpoint-down(sm) {
    display: inline-flex;
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .arrow {
    position: absolute;
    top: 24px;
    right: 48%;

    @include media-breakpoint-up(md) {
      top: 8px;
      right: 295px;
    }

    @include media-breakpoint-up(lg) {
      right: 415px;
    }

    @include media-breakpoint-up(xl) {
      right: 505px;
    }
  }
}
