* {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  margin: 1.5rem 0 1rem;
}

.underline {
  text-decoration: underline;
}

@include media-breakpoint-down(md) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
