<app-navigation></app-navigation>

<section class="section-wrapper hero">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="subtitle">Smart Contracts. Masternodes. Oracles.</div>
        <div class="title">Cryptocurrency. Smarter.</div>
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper">
  <div class="container align-items-center">
    <div class="row py-5">
      <div class="col-sm section-image">
        <img src="../../assets/images/masternodes.svg" height="279" alt="Masternodes">
      </div>
      <div class="col-sm">
        <h1>Masternodes</h1>
        <p>Masternodes help protect and scale the Akroma network by validating transactions and acting as a decentralization
          incentive. Running a masternode is rewarded with Akroma.</p>

        <p>The more nodes a cryptocurrency network has, the more prone it becomes to tampering and attacks.</p>

        <p>To protect against 51% attacks coming from centralized miner farms, the incentives for running a node and mining
          have been unbundled.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper oracles">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm">
        <h1>Decentralized Oracles</h1>
        <p>Next generation smart contracts powered by real-world data feeds.</p>
      </div>
      <div class="col-sm section-image">
        <img src="../../assets/images/oracles.svg" height="223" alt="Masternodes">
      </div>
    </div>
  </div>
</section>

<section class="section-wrapper">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm section-image">
        <img src="../../assets/images/governance.svg" width="378" height="377" alt="Masternodes">
      </div>
      <div class="col-sm">
        <h1>Sustainable Governance</h1>
        <p>The Akroma governance model is focused on creating a sustainable application development platform while contributing
          back to the greater community.</p>

        <p>Akroma governance will be handled off-chain, follow the Linux Foundation’s model and work to create a Technical Meritocracy
          using Open Governance.</p>

        <p>Key Features:</p>
        <ul>
          <li>Interoperability</li>
          <li>No major protocol changes</li>
          <li>Continuous integration of upstream changes</li>
          <li>Experience is everything</li>
          <li>Focus on UX (user experience)</li>
          <li>Consumer over Enterprise</li>
          <li>100% of development funds distributed quarterly</li>
        </ul>
      </div>
    </div>
  </div>
</section>
