:host {
  display: block;
  min-height: 100vh;
}

.section-wrapper {
  background-size: cover;

  .container {
    display: flex;
    justify-content: center;
    min-height: 500px;
    flex-direction: column;
  }

  .section-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.hero {
    background-image: url('../../assets/images/hallway.png');
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    .title {
      font-size: 3.25rem;
    }

    .subtitle {
      font-size: 1.25rem;
    }
  }

  &.oracles {
    color: #fff;
    background-color: #520A47;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    display: block;
    position: relative;
  }

  // transparent background hack
  // see https://css-tricks.com/snippets/css/transparent-background-images/
  &.oracles::after {
    content: "";
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    background: url('../../assets/images/expressway.jpg');
    background-size: cover;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
}
