:host {
  display: block;
  min-height: 100vh;
}

.section-wrapper {
  background-size: cover;

  .container {
    display: flex;
    justify-content: center;
    min-height: 500px;
    flex-direction: column;
  }

  .section-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.hero {
    background-image: url('../../assets/images/hallway.png');
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    .title {
      font-size: 3.25rem;
    }

    .subtitle {
      font-size: 1.25rem;
    }
  }

  &.oracles {
    background-image: url('../../assets/images/expressway.jpg');
    color: #fff;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }
}
