<footer class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="title">Information</h2>
        <ul>
          <li>
            <a href="https://github.com/akroma-project/akroma/wiki/Masternodes">Masternodes</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma/wiki/Decentralized-Oracles">Oracles</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma/wiki/Experience">Experience</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma/wiki/Compatability">Compatibility</a>
          </li>
          <li>
            <a href="https://github.com/akroma-project/akroma/wiki/Governance">Governance</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h2 class="title">Community</h2>

        <ul>
          <li>
            <a href="https://medium.com/akroma">Blog</a>
          </li>
          <li>
            <a href="https://discordapp.com/invite/KWC8wtT">Discord</a>
          </li>
          <li>
            <a href="https://twitter.com/akroma_io">Twitter</a>
          </li>
          <li>
            <a href="https://facebook.com/AkromaIO">Facebook</a>
          </li>
          <li>
            <a href="https://instagram.com/akroma.io">Instagram</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h2 class="title">Resources</h2>

        <ul>
          <li>
            <a href="https://wallet.akroma.io/">Web Wallet</a>
          </li>
          <li>
            <a routerLink="explorer">Block Explorer</a>
          </li>
          <li>
            <a href="https://stats.akroma.io">Network Stats</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
