footer {
  background-size: cover;
  background-image: url('../../../assets/images/footer.png');

  * {
    color: white;
  }

  .col-sm {
    text-align: left;
  }

  .title {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
  }

  li {
    margin: 10px 0;
    font-weight: 400;
  }
}
