<div class="d-none d-md-block">
  <div class="d-flex">
    <div class="row-icon">
      <img src="../../../assets/images/cube.svg" alt="Block" height="46">
    </div>

    <div class="block-details flex-column">
      <div class="top-row">
        <div class="block-number">
          {{ block.number }}
        </div>
        <div class="timestamp">
          {{ block.timestamp | unixTimestampToDate | date:'yyyy-MM-dd HH:mm:ss' }}
        </div>
        <div class="extra-data">
          <span class="d-inline-block text-truncate">
            {{ block.extraData | hexToAscii }}
          </span>
        </div>
      </div>
      <div class="bottom-row">
        <div class="mined-by">{{ block.miner }}</div>
      </div>
    </div>
  </div>
</div>

<div class="d-md-none">
  <div class="row">
    <div class="col">
      <div class="d-flex">
        <div class="row-icon">
          <img src="../../../assets/images/cube.svg" alt="Block" height="46">
        </div>
        <div class="block-number">
          {{ block.number }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="timestamp">
        {{ block.timestamp | unixTimestampToDate | date:'yyyy-MM-dd HH:mm:ss' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mined-by text-truncate">
        {{ block.miner }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="extra-data text-truncate">
        {{ block.extraData | hexToAscii }}
      </div>
    </div>
  </div>
</div>
